* {
  font-family: sans-serif;
  margin: 0;
}

#main {
  width: 800px;
  margin: 20px auto 0;
  background: cornsilk;
  display: grid;
  grid-template-columns: 1fr;
}

#nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

div#nav-logo img {
  padding: 5px 0 5px 20px;
  width: 200px;
}

div#nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.links {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.links:hover {
  background: blue;
  color: white;
}

#jumbo {
  display: grid;
  grid-template-columns: 1fr;
}

#info-header h1,
h2 {
  text-align: center;
}

#info-header p {
  width: 600px;
  margin: auto;
}

#social-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}
