* {
  font-family: sans-serif;
  margin: 0;
}

#main {
  width: 800px;
  margin: 20px auto 0;
  background: mediumturquoise;
  display: grid;
  grid-template-columns: 1fr;
}

#nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: white;
}

div#nav-logo img {
  padding: 5px 20px 5px 20px;
  width: 200px;
}

div#nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.links {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.links:hover {
  background: tomato;
  color: white;
}

#jumbo {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px auto;
  color: white;
}

#info-header h1,
h2 {
  text-align: center;
  margin: 20px 0;
}

#info-header p {
  text-align: center;
  width: 400px;
  margin: 10px 0;
}

#social-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;
}

.social-links a {
  margin: 0 10px;
  color: white;
}

.social-links a:hover {
  color: gray;
}
